* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ubuntu;
    font-weight: 300;
    width: 100%;
    height: 100vh;
    background: rgb(69,85,120);
    background: linear-gradient(138deg, rgba(69,85,120,1) 0%, rgba(42,42,42,1) 100%); 
}

.item {
    list-style-type: none;
    transform: translate(50px);
    margin-top: 10px;
}

.item a {
    text-decoration: none;
    color: white;   
}

.item a:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;   
}

@media (max-width: 3000px) {
    .menu {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        transform: translate(-300px, -130px);
        transition: 0.5s;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu i {
        color: rgb(47, 112, 196);
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: -40px;
        font-size: 20px;
        transition: 0.5s;
        transform: translateY(130px);
    }

    .menu .i1 {
        opacity: 1;
        z-index: 50;
    }

    .menu .i2 {
        opacity: 0;
        color: black;
        z-index: 40;
    }

    .menu2 {
        width: 300px;
        height: 300px;
        padding: 30px 0 0 20px;
        border-radius: 50%;
        background-color: rgb(47, 112, 196);
        position: absolute;
        transform: translate(-150px, -100px);
        transition: 0.5s;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu2 i {
        color: black;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: -40px;
        font-size: 20px;
        transition: 0.5s;
        transform: translateY(100px);
    }

    .menu2 .i1 {
        transform: translate(-60px, 100px);
        opacity: 0;
        z-index: 40;
    }

    .menu2 .i2 {
        transform: translate(-60px, 100px);
        opacity: 1;
        z-index: 50;
    }


    header {
        width: 100%;
        height: 50px;
        color: white;
        font-size: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header span {
        color: rgb(47, 112, 196);
    }




}


@media (min-width: 651px) and (max-width: 1250px) {
    body {
        background-color: green;
    }
}

